:root {
  --clr-light: white;
  --clr-dark: black;
  --clr-click: rgb(68, 68, 236);
  --clr-hover: rgb(217, 224, 241);
  --clr-grey: grey;

  --fs-h1: 2.75rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-h4: 1.1rem;
  --fs-body: 1rem;

  --fw-reg: 300;
  --fw-med: 500;
  --fw-bold: 700;
  --fw-black: 900;

  --box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
  0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

/* GENERAL STYLING */

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: var(--fs-body);
  background-color: rgb(242, 243, 237);
  max-width: 1300px;
  margin: 0 auto;
}


.section {
  width: 80%;
  margin: 2em auto;
}

img {
  display: block;
  max-width: 100%;
}

.bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* TYPOGRAPHY */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

h4 {
  font-size: var(--fs-h4);
}

a {
  color: var(--clr-dark);
}

.section__title {
  margin-bottom: .25em;
  text-align: center;
  font-weight: var(--fw-black);
}

/* NAVBAR */

.blank-space {
  height: 4.7rem;
}

.navbar {
  max-width: 1500px;
  margin: 0 auto;
  position: fixed;
  top: 2rem;
  left: 1.5rem;
  right: 1.5rem;
  display: flex;
  align-items: center;
  border-radius: 100px;
  padding: 1rem 1.5rem;
  z-index: 100;
  background-color: var(--clr-light);
  box-shadow: var(--box-shadow);
}

.navbar__logo {
  flex: 1;
}

.navbar__logo--img {
  max-width: 65px;
}

.menu-icon {
  display: none;
}

.navbar__elements {
  flex: 2;
}

.navbar__elements--list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.navbar__elements--list a{
  text-decoration: none;
  font-weight: var(--fw-bold);
  font-size: var(--fs-body);
  padding: 1em;
  white-space: nowrap
}

.navbar__elements--classes {
  background-color: var(--clr-click);
  color: var(--clr-light);
  border-radius: 10px;
}

.navbar__elements--classes.active {
  background-color: var(--clr-hover);
  color: var(--clr-click);
}

.navbar__elements--list a.active:not(.navbar__elements--classes){
  color: var(--clr-click);
}

.navbar__elements--list a:hover{
  text-decoration: underline;
  color: var(--clr-click);
  background-color: var(--clr-hover);
  border-radius: 10px;
}


@media (max-width: 800px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .navbar__elements {
    position: absolute;
    top: 4rem;
    right: 0;
    background-color: var(--clr-light);
    border-radius: 50px;
    padding: 1rem 1.5rem;
    display: none;
  }

  .navbar__elements.active {
    display: block;
  }

  .navbar__elements--list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2.5em;
    padding-left: unset;
  }
}

/* FOOTER */
.footer {
  padding: 1em 5em;
  text-align: center;
  background-color: var(--clr-light);
}

.footer__flexbox {
  display: flex;
  gap: 1em;
  padding-bottom: 3em;
}

.footer__logo{
  flex: 3;
}

.footer__logo img {
  max-width: 200px;
  padding-top: 3em;
}

.footer__follow, .footer__link {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.footer__flexbox a {
  text-decoration: none;
}

.footer__flexbox a:hover {
  color: var(--clr-click);
  text-decoration: underline;
}

.footer__copyright {
  padding-top: 1em;
  color: var(--clr-grey)
}

/* HOME PAGE */

.home__bg {
  background-image: url('./images/244747386_204318721796976_7078080569973507988_n.jpg');
  height: 75vh;
  background-size: contain;
}

.home__section--intro {
  height: 20vh;
}

.section__slogan {
  font-style: italic;
  text-align: center;
}

.home__section--benefits {
  text-align: center;
}

.home__section--benefits--button {
  display: flex;
  margin: 1em 0;
}

.home__section--benefits--button button {
  all: unset;
  cursor: pointer;
  flex: 1;
  padding: 1em;
  border-radius: 10px;
  font-weight: var(--fw-bold);
}

.home__section--benefits--button button:hover{
  text-decoration: underline;
  color: var(--clr-click);
  background-color: var(--clr-hover);
}

.home__section--benefits--button button.active{
  color: var(--clr-click);
  background-color: var(--clr-hover);
}

.home__section--benefits--details {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  font-weight: var(--fw-med);
  font-size: var(--fs-h4);
}

.home__section--benefits--details-item {
  flex: 1;
}

.home__section--benefits--details img {
  border-radius: 10px;
  margin-bottom: 1em;
  width: 100%;
}

.home__section--benefits--details p {
  height: 3em;
}

.home__section--class {
  background-image:linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('./images/316040941_460904026154297_966934964481304455_n.jpg');
  height: 60vh;
  background-position: top;
  color: var(--clr-light);
  text-align: center;
  padding: 10em 5em ;
  margin-bottom: 1em;
}

.home__section--class button {
  background-color: var(--clr-click);
  color: var(--clr-light);
  padding: 1em;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}

.home__section--review {
  text-align: center;
}

.underline {
  height: 0.25em;
  width: 5em;
  background: var(--clr-click);
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

.review {
  padding: 1.5em 2em;
  width: 80%;
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-light);
  border-radius: 10px;
}

.review h4 {
  text-transform: uppercase;
}

.info {
  padding: 0 3em;
  margin-bottom: 2em;
}

.review:hover {
  box-shadow: var(--box-shadow);
}

.img-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}

.person-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  position: relative;
}

.img-container::before {
  content: '';
  width: 100%;
  height: 100%;
  background: var(--clr-click);
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  border-radius: 50%;
}



.prev-btn,
.next-btn {
  color: var(--clr-click);
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 1rem;
  transition: all 0.3s linear;
  cursor: pointer;
}
.prev-btn:hover,
.next-btn:hover {
  color: var(--clr-hover);
}


/* ABOUT */

.about__bg {
  background-image: url('./images/316548747_460904029487630_1674216310324169430_n.jpg');
  height: 10vh;
}

.about__section--desc--img {
  float: right;
  width: 15em;
  margin-left: 1em;
  margin-top: 1em;
}

.about__section--rules, .about__section--FAQ {
  padding-top: 1em;
}

.about__section--rules--img {
  float: left;
  width: 13em;
  margin-right: 1em;
  margin-top: 0.5em;
}

.question { 
  border: 1px solid var(--clr-grey);
  padding: 1rem;
  background-color: var(--clr-light);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.question__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question__btn {
  background: transparent;
  border-color: transparent;
  width: 2rem;
  height: 2rem;
  color: var(--clr-click);
  cursor: pointer;
  min-width: 2rem;
}
/* PRICING */

.pricing__bg {
  background-image: url('./images/309502854_426894132888620_3729173512353582509_n.jpg');
  height: 10vh;
}

.pricing {
  position: relative;
}

.pricing__section--prices {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: darkblue;
  border-radius: 10px;
  padding: 2em;
  margin-top: 2em;
}

.pricing__section--price {
  flex: 1;
  background-color: var(--clr-light);
  border-radius: 10px;
  padding: 1em;
}

.pricing__section--price-title {
  text-align: center;
}

.pricing__section--price-title h4{
  color: var(--clr-click);
}

.check-icon {
  color: var(--clr-click);
}

.pricing__section--discount-and-rental {
  padding-top: 1em;
  text-align: center;
}

.pricing__section--course {
  background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('./images/288642503_366451305583716_5063898189780198044_n.jpg');
  height: 60vh;
  color: var(--clr-light);
  text-align: center;
  padding: 10em 5em ;
}


/* CLASSES */

.classes-events__bg {
  background-image: url('./images/311080913_433170645594302_7051786171365687777_n.jpg');
  height: 10vh;
}

.classes__section--desc {
  text-align: center;
}

/* CONTACT */

.contact__bg {
  background-image: url('./images/310308006_429320269312673_4659954659652867651_n.jpg');
  height: 10vh;
}

.contact__section {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}

.contact__section--info {
  display: flex;
  justify-content: space-between;
}

.contact__section--info--hours {
  flex: 2;
}

.contact__section--info--address {
  flex: 1;
}

/* ACCOUNT */

.account__bg {
  background-image: url("./images/637f83bd1be00c371803a700_PANA4971-p-500.jpeg");
  height: 10vh;
}

.card {
  background-color: var(--clr-light);
  margin: 1em auto;
  width: 95%;
  max-width: 500px;
  padding: 1em;
  border-radius: 10px;
  font-size: var(--fs-h4);
  box-shadow: var(--box-shadow);
}

.card-button {
  width: 100%;
  border-radius: 5px;
  background-color: var(--clr-click);
  border: none;
  padding: 0.5em;
  color: var(--clr-light);
  font-size: var(--fs-h4);
  cursor: pointer;
}

.form-input {
  width: 100%;
  border-radius: 5px;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  border: 1px solid var(--clr-grey);
  padding: 0.6em;
}

.card-text {
  text-align: center;
  font-size: var(--fs-body);
  margin-top: 1em;
  color: var(--clr-grey);
}

