@import url("../src/styles/home.css");
@import url("../src/styles/navbar.css");
@import url("../src/styles/footer.css");
@import url("../src/styles/about.css");
@import url("../src/styles/account.css");
@import url("../src/styles/pricing.css");
@import url("../src/styles/classesAndEvents.css");
@import url("../src/styles/contact.css");
@import url("../src/styles/general.css");
@import url("../src/styles/typography.css");

:root {
  --clr-light: white;
  --clr-dark: black;
  --clr-click: rgb(68, 68, 236);
  --clr-hover: rgb(217, 224, 241);
  --clr-grey: grey;

  --fs-h1: 2.75rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-h4: 1.1rem;
  --fs-body: 1rem;

  --fw-reg: 300;
  --fw-med: 500;
  --fw-bold: 700;
  --fw-black: 900;

  --box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
  0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}



